@page "/"

<AuthorizeView>
    <NotAuthorized>
       <a href="/.auth/login/aad">Login</a>
    </NotAuthorized>
    <Authorized>
        <a href="/home">Authenticated Home</a>
        <a href="/profile">Authenticated Profile</a>
        <br/>
        <a href="/.auth/logout">Logout</a>
    </Authorized>
</AuthorizeView>
