@page "/profile"
@inject UserAuthenticationStateProvider AuthStateProvider

@attribute [Authorize]

<PageTitle>Profile</PageTitle>

<h1>This is my profile</h1>>

<p>Auth State: @_authState</p>
<p>Token: @_token</p>


@code {
    private string _token;
    private string _authState;

    protected override async Task OnInitializedAsync()
    {
        _token = await AuthStateProvider.GetTokenAsync();
        _authState = await AuthStateProvider.GetAuthenticationStateAsync();
    }
}